textarea{
    width: 100%;

    color: #67757c;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border: 1px solid rgba(0,0,0,.15);
}

ul.proveedores{
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: 3px;
    max-height: 200px;
    overflow: auto;
}

li.proveedor{
    padding: 5px 5px 5px 41px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;

}

li.proveedor:hover{
    background-color: #caebf1;

}

.left-footer-wrap{
    margin-right: auto;
}

.color-red{
    color: red;
}

.txt-color-blue{
    color: #2e9bb0;
}

th{
    text-align: center;
}