<div class="container">

  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <div class="card-title text-center fw-500">
          Total saldo pendiente: {{ totalSaldoPendiente |currency:'MXN' }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <!-- Tabla de clientes con saldo pendiente -->
    <div class="col col-md-6 text-center">
      <div class="card">
        <div class="card-title">
          Clientes con saldo pendiente
        </div>
        
        <!-- Filtro de clientes por nombre -->
        <div class="form-group row">
          <!-- <label class="col-sm-3 control-label">Buscar Cliente</label> -->
          <div class="col col-md-12">
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-search"></i></div>
              <input name="clienteNombre"
                           id="clienteInput"
                           autocomplete="off"
                           (keyup)="filtrarClientes()" 
                               [(ngModel)]="clienteNombre" 
                               type="string" 
                               class="form-control" 
                               placeholder="Ingresa el nombre del cliente"
                               required>
            </div>
          </div>
        </div>
        <!-- FIN de Filtro de clientes por nombre -->

        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Cliente</th>
                  <th>Saldo</th>
                </tr>
              </thead>
          
              <tbody>
                <tr *ngFor="let cliente of clientesConSaldoPendiente; let i=index"
                    class="pointer fila-cliente"
                    (click)="cargarVentasConSaldoDelCliente(cliente.cliente._id, i)"
                    [ngClass]="{'cliente-activo': clientesConSaldoPendiente[i].activo }">
                  <td>{{ cliente.fechaMasAntigua | date }}</td>
                  <td>{{ cliente.cliente.nombre }}</td>
                  <td>{{ cliente.saldoPendiente | currency:'MXN' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- FIN de Tabla de clientes con saldo pendiente -->

    <!-- Detalle de cuenta seleccionada -->
    <div class="col col-md-6 borde-izquierdo">
      <div class="card">
        <div class="card-title text-center">
          Detalle de cuenta <span *ngIf="clienteActual">de {{ clienteActual }}</span>
        </div>
        <div class="card-body">

          <ul *ngFor="let venta of ventasConSaldo; let i=index">
            <span class="venta-title">
              Venta {{ i + 1 }}
            </span>

            <p class="venta-subtitle">
              Productos:
            </p>

            <li *ngFor="let producto of venta.carrito">
              <img [src]="producto.img | imagen:'producto'"
                   class="img-producto">
              {{ producto.nombre }} x {{ producto.cantidad }}
            </li>

            <p class="venta-footer right">
              Total: {{ venta.total | currency:'MXN' }}
            </p>

            <p class="venta-footer right">
              Monto Pagado: {{ venta.montoPagado | currency:'MXN' }}
            </p>

            <p class="venta-footer right">
              Saldo pendiente: {{ venta.saldoPendiente | currency:'MXN' }}
            </p>

            <button class="btn btn-success btn-block"
                    (click)="registrarPago(venta)">Registrar Pago</button>

            <p class="venta-footer small pointer txt-color-blue" (click)="obtenerCobros(venta._id, i)">
              Mostrar/Ocultar historial de pago <i [ngClass]="{
                'ti-arrow-down': venta.cobros,
                'ti-arrow-right': !venta.cobros
              }"></i>
            </p>

            <div class="table-responsive"
                 *ngIf="venta.cobros">
              <table class="table table-hover text-center" data-mobile-responsive="true">
                
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>Forma de Pago</th>
                    <th>Eliminar</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let cobro of venta.cobros"
                      [ngClass]="{
                        'table-warning': cobro.monto<0,
                        'table-success': cobro.monto>0
                      }">
                    <td>{{ cobro.fecha | date }}</td>
                    <td>{{ cobro.monto | currency:'MXN' }}</td>
                    <td>{{ cobro.tipoDePago | titlecase }}</td>
                    <td class="pointer color-red"
                        (click)="eliminarPago(cobro)"><i class="fa fa-trash"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <p class="venta-footer small">
              Vendido por {{ venta.vendedor.nombre }}
            </p>

          </ul>
        </div>
      </div>


    </div>
    <!-- FIN de Detalle de cuenta seleccionada -->

  </div>

  <div class="row m-t-10">

    <div class="col col-md-12 text-center">

      <div class="card">

        <div class="card-title">
          Lista de pagos de clientes
        </div>

        <div class="botonera">
        
          <div class="btn-group right" role="group">
            <button class="btn btn-info" (click)="paginaAnterior()">
              <</button> <button class="btn btn-info" (click)="paginaSiguiente()">>
            </button>
          </div>
        
          <span class="page-indicator">Página {{ paginaActual }} de {{ totalDePaginas }}</span>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">

              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Cliente</th>
                  <th>Monto</th>
                  <th>Método de Pago</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let cobro of cobros">
                  <td>{{ cobro.fecha | date}}</td>
                  <td>{{ cobro.cliente.nombre }}</td>
                  <td>{{ cobro.monto | currency:'MXN'}}</td>
                  <td>{{ cobro.tipoDePago | titlecase }}</td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>

<app-modal-registro-cobro
  [venta]="ventaSeleccionada"
  (actualizarVentasDelCliente)="actualizarData()"></app-modal-registro-cobro>