<div class="container"
     (window:resize)="actualizarAnchoDegraficas()">

  <!-- Widget mini Gráficas -->
    <div class="row">
      <!-- Column -->
      <div class="col-lg-4 col-12">
        <div class="card bg-primary bordered-card-10">
          <div class="card-body">
            <div class="d-flex">
              <div>
                <h4 class="card-title text-white pointer hover-highlight"
                    (click)="changeYear()">Ventas {{ year }}</h4>
                <h6 class="card-subtitle text-white">{{ totalVentasAnuales | currency:'MXN' }}</h6>
              </div>
           
            </div>
            <div id="sparkYear"></div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-lg-4 col-12">
        <div class="card bg-info bordered-card-10">
          <div class="card-body">
            <div class="d-flex">
              <div>
                <h4 class="card-title text-white pointer hover-highlight"
                    (click)="cambiarMes()">Ventas {{ mesesArray[month] }}</h4>
                <h6 class="card-subtitle text-white">{{ ((ventasAnuales)?ventasAnuales[month]:0) | currency:'MXN' }}</h6>
              </div>
             
            </div>
            <div id="sparkMonth"></div>
          </div>
        </div>
      </div>
      <!-- Column -->
      
      <!-- Column -->
      <div class="col-lg-4 col-12">
        <div class="card bg-warning bordered-card-10">
          <div class="card-body">
            <div class="d-flex">
              <div>
                <h4 class="card-title text-white pointer hover-highlight"
                    (click)="cambiarDia()">Ventas del Día {{day}}</h4>
                <h6 class="card-subtitle text-white">{{ ((ventasMensuales)?ventasMensuales[day]:0) | currency:'MXN' }}</h6>
              </div>
             
            </div>
            <div id="sparkDay"></div>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
  <!-- FIN de Widget mini Gráficas -->


  <!-- Elemento Gráficas de Pie -->
  <div class="row">

    <!-- Elemento de ventas -->
      <div class="col col-md-6 text-center">
        
        <div class="card">
          <div class="card-body">
              <h4 class="card-title">Ventas Anuales: {{ year }}</h4>
            <div id="sparkPieSales"></div>
            <div class="row m-t-10">
              <div class="col-12">
                <h3>{{ (totalVentasAnuales/150000) | percent}}</h3>
                <h6 class="card-subtitle">Ventas: {{ totalVentasAnuales | currency:'MXN' }} / $150,000</h6>
              </div>
              <div class="col-12">
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="height: 6px;" [ngStyle]="{
                  'width': ((totalVentasAnuales/150000)*100)+'%'
                  }" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <app-elemento-ventas></app-elemento-ventas>
      </div>
    <!-- FIN de Elemento de ventas -->
    
    <!-- Elemento de cuentas por cobrar -->
      <div class="col col-md-6 text-center">
        
        <div class="card">
          <div class="card-body">
              <h4 class="">Cuentas Por Cobrar</h4>
              <div id="sparkPieCredito"></div>
            <div class="row m-t-10">
              <div class="col-12">
                <h3>{{ ventasPorCobrar[0]/(ventasPorCobrar[1]+ventasPorCobrar[0]) | percent }}</h3>
                <h6 class="card-subtitle">Liquidadas: {{ ventasPorCobrar[0] | currency:'MXN' }} / {{ (ventasPorCobrar[0] + ventasPorCobrar[1]) | currency:'MXN' }}</h6>
              </div>
              <div class="col-12">
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="height: 6px;" [ngStyle]="{
                  'width': ((ventasPorCobrar[0]/ventasPorCobrar[1])*100)+'%'
                  }" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <app-elemento-cuentas-cobrar></app-elemento-cuentas-cobrar>
      </div>
    <!-- Elemento de cuentas por cobrar -->


  </div>
  <!-- FIN de ElementoGráficas de Pie -->

  <!-- Elemento grafica de barras de ventas mensuales -->
  <div class="row">
    <div class="col col-md-12">
      <div class="card text-center">
        <div class="card-title">Ventas {{ year }}</div>
        <div class="card-body">
          <canvas id="chart-bar-ventasMensuales" height="100"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN de Elemento grafica de barras de ventas mensuales -->

  <!-- Top 5 ventas -->
  <div class="row">
    
    <!-- <div class="col col-md-12 text-center">
      
      <ul>
        <li>Sillón Murcielago 10 $120,000</li>
        <li>Sillas01 4 $85,000</li>
      </ul>
    </div> -->
    
    <div class="col col-md-12 text-center">
        <h4>Ventas</h4>

      <div class="table-responsive">
        <table class="table table-hover" data-mobile-responsive="true">
          <thead>
            <tr>
              <th>Cliente</th>
              <th>Total</th>
              <th>Saldo Pend.</th>
              <th>Pagado</th>
              <th>Tienda</th>
              <th>Vendedor</th>
              <th>Fecha</th>
            </tr>
          </thead>
        
          <tbody>
            <tr *ngFor="let venta of ventas"
                [ngClass]="{
                  'table-success': venta.estatus==='Liquidada',
                  'table-warning': venta.estatus==='Saldo Pendiente'
                }">
              <td>{{ venta.cliente.nombre }}</td>
              <td>{{ venta.total | currency:'MXN' }}</td>
              <td>{{ venta.saldoPendiente | currency:'MXN' }}</td>
              <td>
                <span>{{ (venta.montoPagado/venta.total) | percent }}</span>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="height: 6px;" [ngStyle]="{
                               'width': ((venta.montoPagado/venta.total)*100)+'%'
                              }"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td>{{ venta.unidadDeNegocio }}</td>
              <td>{{ venta.vendedor.nombre }}</td>
              <td>{{ venta.fecha | date }}</td>
            </tr>
          </tbody>
        
        </table>
      </div>
     

      <!-- Componente de paginado   -->
      <div>
        <ul class="pagination justify-content-center">
      
          <li class="page-item pointer" (click)="paginaAnterior()">
            <a class="page-link" aria-label="Previous">
              <span aria-hidden="true">«</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
      
          <li *ngFor="let pagina of paginas" class="page-item pointer" (click)="obtenerVentas(pagina.pagina)"
            [ngClass]="{'active': pagina.active }"><a class="page-link">{{ pagina.pagina }}</a></li>
      
          <li class="page-item pointer" (click)="paginaSiguiente()">
            <a class="page-link" aria-label="Next">
              <span aria-hidden="true">»</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
      
        </ul>
      
      </div>
      <!-- FIN de Componente de paginado   -->
    </div>

  </div>
  <!-- FIN de Top 5 ventas -->
  

    
    

  </div>
  
