.bordered-card-10{
    border-radius: 10px;
}

.table-container{
    position:  relative;
}

.top5-table{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

th{
    text-align: center;
}

.hover-highlight:hover{
    font-weight: 500;
    /* color:#2e9bb0 !important; */
}

.lista-metas{
    list-style: none;
    padding: 0px;
    margin: 0px;

    columns: 200px 4;
  /* -webkit-columns: 2; */
  /* -moz-columns: 2; */
}

.meta-mes{
    display: inline-block;
    width: 200px;
    margin-bottom: 15px;

    border-radius: 5px;
    padding: 5px;
}

.meta-mes-actual{
    background-color: #caebf1;
}

.fs-15{
    font-size: 15px;
}

.texto-meta-actual1{
    color: #278395;
}

.texto-meta-actual2{
    color: lightslategray;
}

.bg-red{
    background-color: #e55039;
}
.bg-blue{
    background-color: #0a3d62;
}

.bg-pink{
    background-color: #b71540;
}

.progress-bar{
    background-color: #12CBC4 !important;
}

.tb-warning{
    background-color: #f6b93b;
    color: black;
}

.tb-success{
    background-color: #079992;
    color: white;
}

.tb-success:hover{
    color: black;
}

