<div class="container">

  <div class="row">

      <h1>Empleados</h1>

  </div>

  <div class="row">

    <div class="col col-md-3">
      
      <ul class="p-0">
        <li>
          <div class="row">
            
            <div class="col col-md-3 p-0">
              <img src="/src/assets/images/users/1.jpg" class="img-profile left">
            </div>
  
            <div class="col col-md-9 v-center p-0">
              <span class="linea">Michelle Felix</span>
              <span class="linea small">Consultor</span>
  
            </div>
  
          </div>
        </li>
      </ul>

    </div>

    <div class="col col-md-9">
      Hola
    </div>


  </div>


</div>
