.user-info{
    text-align: center;
}

.user-info p{
    font-weight: 500;
}

.profile{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 20px;
}

.form-container{
    width: 70vw;
    margin: 0px auto;
}

.form-container label{
    font-weight: 500;
}

.form-container input{
    margin-bottom: 25px;
}

.title{
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid #278395;
    color: #278395;
}

.usuarios{
    margin: 0px auto;
    width: 70vw;
}

th,td{
    text-align: center;
}

.clickable-user-row:hover{
    background-color: #caebf1;
}