<div class="row m-b-40">
  <div class="col col-md-12">

    <div class="user-info">
      <img [src]="usuarioActual.img | imagen:'usuario'" class="profile">
      <p class="text-center">{{ usuarioActual.nombre }}</p>
    </div>
    
    <div class="form-container">
        <label for="password">Nueva contraseña: </label> 
          <input name="password" [(ngModel)]="password" type="password" class="form-control">
        <label for="paswordConfirm">Confirmar contraseña: </label> 
          <input name="passwordConfirm" [(ngModel)]="passwordConfirm" type="password" class="form-control">
        
        <button 
          class="btn btn-block btn-success waves-effect waves-light"
          (click)="cambiarPassword()">
          Cambiar la contraseña de {{ this.usuarioActual.nombre }}
        </button>
      </div>

  </div>

</div>

<div class="row usuarios">
  <div class="col col-md-12" *ngIf="usuarios && usuarios.length>0">

    <p class="text-center title">Seleccionar usuario para cambiar contraseña</p>

    <div class="">
  
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <th>Usuario</th>
            <th>Email</th>
            <th>Unidad de Negocio</th>
            <th>Rol</th>
          </thead>
  
          <tbody>
            <tr *ngFor="let usuario of usuarios" 
                class="clickable-user-row pointer"
                (click)="seleccionarUsuarioActual(usuario)">
              <td>{{ usuario.nombre }}</td>
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.unidadDeNegocio }}</td>
              <td>{{ usuario.role }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </div>
</div>