<div class="modal fade" id="cotizacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">

  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel1">Cotización: {{ proyecto.nombre }}</h4>
        <button (click)="resetearModal()" type="button" class="close pointer" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <!-- Fin de Modal header -->

      <!-- Modal Body -->
      <div class="modal-body p-l-5 p-r-5 p-t-0 p-b-0">
        <div class="card-body">

          <!-- Documento Cotización -->
          <div id="documento-cotizacion" class="container print-content">

            <!-- Header de cotizacion -->
            <div class="row m-b-5">

              <div class="col col-md-12 m-b-30">
                <img class="logo pull-left" src="../assets/images/mobla-logo.png" alt="">
              </div>
              
            </div>
            
            <div class="row">
              <div class="col col-md-12">
                <span class="pull-left">
                  Cotización: {{ cliente.nombre }}
                </span>

                <span class="pull-right">
                  León Gto. a {{ fecha | date:'fullDate'}}
                </span>
              </div>
            </div>
            <!-- Fin de header de cotizacion -->

            <!-- Tabla de productos -->
            <div class="row m-b-30">
              <div class="col col-md-12 p-l-10 p-r-10 table-responsive">

                <table  id="tablaCotizacion" 
                        class="table editable-table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Imágen</th>
                      <th>Producto</th>
                      <th>Descripción</th>
                      <th>Cant.</th>
                      <th [ngClass]="{'no-print': totalDescuento==0}">Descuento/Pieza</th>
                      <th>Precio</th>
                      <th>Importe</th>
                      <th class="no-print">Eliminar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let producto of productos; let i=index;">
                      <td (click)="cambiarImagen(i)"
                          class="text-center clickable">
                          
                          <div *ngIf="producto.img">
                            <img class="product-image" 
                               [src]="producto.img | imagen:'producto'"
                               *ngIf="!producto.img.includes('cotizacion')">
                            <img class="product-image" 
                               [src]="producto.img | imagen:'cotizacion'"
                               *ngIf="producto.img.includes('cotizacion')">
                          </div>

                          <div *ngIf="!producto.img">
                            <img class="product-image" 
                               [src]="producto.img | imagen:'producto'">
                          </div>
                          
                        </td>
                      <td class="text-center">{{ producto.codigo }}</td>
                      <td (click)="cambiarNombre(i)"
                          class="text-center clickable">{{ producto.nombre }}</td>
                      <td (click)="cambiarCantidad(i)" 
                          class="text-center clickable"
                           [ngClass]="{'editando': producto.editandoCantidad}">
                           {{ producto.cantidad }}
                      </td>
                      <td (click)="cambiarDescuento(i)"
                          class="text-center clickable"
                          [ngClass]="{
                            'editando': producto.editandoDescuento,
                            'no-print':totalDescuento==0
                          }">
                          {{ producto.descuento | currency:'MXN' }}
                        </td>
                      <td (click)="cambiarPrecio(i)" 
                          class="text-center clickable"
                          [ngClass]="{'editando': producto.editandoPrecio}">
                          {{ producto.precio | currency:'MXN' }}
                        </td>
                      <td class="text-center">
                        {{ ( (producto.precio - producto.descuento) * producto.cantidad ) | currency:'MXN' }}
                      </td>
                      <td class="text-center">
                        <i class="fa fa-trash no-print color-red pointer"
                           (click)="eliminarProducto(i)"></i>
                      </td>
                    </tr>

                    <tr class="no-print">
                      <td colspan="42" 
                          class="add-product-row pointer"
                          (click)="abrirCatalogoDeProductos()">
                        <i class="fa fa-plus"></i>
                      </td>
                    </tr>

                    
                  </tbody>

                </table>

                <table class="table totales">
                  <tr [ngClass]="{'oculto': totalDescuento==0}">
                    <th class="txt-left"><strong>IMPORTE</strong></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th [ngClass]="{'no-print': totalDescuento==0}"></th>
                    <th></th>
                    <th class="text-center">{{ totalImporte | currency:'MXN' }}</th>
                  </tr>
                  <tr [ngClass]="{'oculto': totalDescuento==0}">
                    <th class="txt-left"><strong>DESCUENTO</strong></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th [ngClass]="{'no-print': totalDescuento==0}"></th>
                    <th></th>
                    <th class="text-center">{{ totalDescuento | currency:'MXN' }}</th>
                  </tr>
                  <tr [ngClass]="{
                    'no-print': iva<=0,
                    'sin-iva': iva<=0
                  }">
                    <th class="txt-left"><strong>SUBTOTAL</strong></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th [ngClass]="{'no-print': totalDescuento==0}"></th>
                    <th></th>
                    <th class="text-center">{{ totalImporte - totalDescuento | currency:'MXN' }}</th>
                  </tr>
                  <tr class="pointer add-product-row" (click)="toggleIva()"
                      [ngClass]="{
                        'no-print': iva<=0,
                        'sin-iva': iva<=0
                      }">
                    <th class="txt-left"><strong>IVA</strong></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th [ngClass]="{'no-print': totalDescuento==0}"></th>
                    <th></th>
                    <th class="text-center">{{ iva | currency:'MXN' }}</th>
                  </tr>
                  <tr>
                    <th class="txt-left"><strong>TOTAL</strong></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th [ngClass]="{'no-print': totalDescuento==0}"></th>
                    <th></th>
                    <th class="text-center">{{ totalImporte - totalDescuento + iva | currency:'MXN' }}</th>
                  </tr>
                </table>
                
              </div>
            </div>
            <!-- Fin de tabla de productos -->

            <!-- Políticas -->
            <div class="politicas">
              <span><strong>Precios no inlcuyen IVA</strong></span>
              <br>
              <span><strong>Imágenes meramente ilustrativas</strong></span>
            
              <ol class="p-l-0 m-l-10">
                <li *ngFor="let politica of politicas"
                    class="m-0">{{ politica }}</li>
              </ol>
            </div>
            <!-- Fin de Políticas -->
          

          </div>
          <!-- Fin de documento Cotización -->

          <!-- Lista de cotizaciones -->
          <div>
            <div class="table-responsive"
                 *ngIf="cotizaciones.length>0">
              <table class="table table-bordered table-striped text-center">

                <thead>
                  <tr>
                    <th># de Cotización</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Cargar</th>
                    <th>Eliminar</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let cotizacion of cotizaciones, let i=index;">
                    <td>Cotización #{{ i + 1 }}</td>
                    <td>{{ cotizacion.fecha | date }}</td>
                    <td>{{ cotizacion.total | currency:'MXN' }}</td>
                    <td class="pointer" (click)="mostrarDetalleCotizacion(i)">
                      <i class="fa fa-file-text color-green"></i>
                    </td>
                    <td class="pointer" (click)="eliminarCotizacion(cotizacion)">
                      <i class="fa fa-trash color-red"></i>
                    </td>
                  </tr>
                </tbody>

              </table>
            </div>

          </div>
          <!-- FIN de Lista de cotizaciones -->

        </div>
      </div>
      <!-- Final de Modal Body -->

      <!-- Modal Footer -->
      <div class="modal-footer">

        <!-- Botones -->

        <button type="button"
                class="btn btn-info waves-effect waves-light btn-nueva-cotizacion"
                *ngIf="cotizacion"
                (click)="crearNuevaCotizacion()"
                >Nueva Cotización</button>

        <button type="button"
                class="btn btn-success waves-effect waves-light"
                (click)="imprimirCotizacion()"
                >Imprimir</button>

        <button type="button"
                class="btn btn-warning waves-effect waves-light"
                 (click)="guardarCotizacion()"
                [ngClass]="{'disabled': !notaValida}"
                [attr.data-toggle]="(!notaValida)?'tooltip':null"
                [attr.data-original-title]="(!notaValida)?'Favor de validar la nota':null"
                [attr.data-placement]="(!notaValida)?'bottom':null"
                *ngIf="!cotizacion">Guardar</button>

        <button class="btn btn-warning waves-effect waves-light"
                (click)="actualizarCotizacion()"
                *ngIf="cotizacion">Actualizar</button>


        <button type="button"
                (click)="resetearModal()" 
                class="btn btn-danger waves-effect waves-light" 
                data-dismiss="modal">Salir</button>
        <!-- Fin de botones -->

      </div>
      <!-- Fin de Modal Footer -->

    </div>
  </div>
</div>

