img.logo{
    width:150px;
}

th{
    text-align: center;
}

th.txt-left{
    text-align: left;
}

td{
    vertical-align: middle;
    text-align: center;
}

td.clickable{
    cursor: pointer;
}

td.clickable:hover{
    border:2px solid #caebf1;
}

td.editando{
    background-color:#caebf1;
}

div.politicas{
    font-size:8px;
}

img.product-image{
    height: 50px;
    width: 50px;
    object-fit: cover;
    
    border-radius: 5px;
}

.add-product-row{
    text-align: center;
}

.add-product-row:hover{
    background-color: #caebf1;
}

.add-product-row:hover i{
    font-weight: bold;
}

.add-product-row i{
    color: cornflowerblue;
}

.oculto{
    display: none;
}

.modal-lg {
    max-width: 85%;
}

.color-red{
    color: red;
}

.color-green{
    color: #06d79c;
}

.btn-nueva-cotizacion{
   margin-right: auto;
}



@media print {

    .no-print {
        display: none;
    }
    
}