div.familias{
    margin-bottom:20px;
}

div.familia-tag{
    line-height: 13px;
    font-size: 13px;
    float:left;
    cursor: pointer;

    margin:5px;
    padding:5px 10px 5px 10px;

    background-color: #242a33;
    border-bottom: 2px solid green;
    border-radius: 5px;

    color:rgb(199, 199, 199);
}

div.familia-tag:hover{
    color: white;
    font-weight:400;
    background-color: #2f353f;
}

div.producto{

    /* width: 200px; */
    
    width: 140px;
    height: 200px;
    text-align: center;
    align-content: center;

    display:inline-block;
    background-color: rgba(224, 224, 224, 0.38);
    
    margin: 5px 10px 5px 10px;
    border: 1px solid rgb(180, 180, 180);
    /* padding: 0px 0px 5px 0px; */
    border-radius: 5px;

    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.4)
}

.right-border{
    border-right: 1px solid lightgrey;
}

.select-familia{
    width: 100%;
    
}

.image-container {
    position: relative;
    width:140px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* margin-left:auto; */
    /* margin-right:auto; */
}

.image {
  width: 140px;
  height: 120px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transform: translate(-1px,-1px);
}


.overlay{
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: rgba(51, 46, 46, 0.6);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.text {
  color: white;
  font-size: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* white-space: nowrap; */


}

.image-container:hover .overlay {
  width: 100%;
  left: 0;
}

.product-name{
    font-size: 15px;
    font-weight: 500;
}

.wrap{
    overflow-wrap: break-word;
}

ul{
    list-style: none;
    margin:0px;
    padding:0px;
}

.img-lista{
    height: 50px;
    border-radius: 5px;
    clear: both;
}

.info-lista{
    width:100px;
}

.nombre-lista{
    font-size: 10px;
    margin-left: 5px;
    margin-bottom:5px;

    width: 150px;
}

.nombre-lista:hover{
    color: #2e9bb0;
}

.precio-lista{
    font-size: 10px;
    margin-left: 5px;
    margin-bottom: 0px
}

.precio-lista:hover{
    text-decoration: underline;
    color: #2e9bb0;
}

.descripcion-lista{
    float: left;
    font-size: 15px;
    color: blue;
}

.no-descripcion-lista{
    color: gray;
}

.botonera-item-lista{
    height: 15px;
    margin-top: 17.5px;
    margin-bottom: 17.5px;
}

.descuento-lista{
    float: left;
    font-size: 15px;
    color: darkorange;
    width: 10px;
}

.cantidad-lista{
    font-size: 10px;

    background: green;
    color: white;
    min-width: 20px;
    border-radius: 5px;
    text-align: center;

    height: 16px;
    line-height: 16px;
}

.trash-button{
    color:red;
}

.right{
    float:right;
}

.left{
    float: left;
}

.pointer{
    cursor: pointer;
}

li{
    min-height: 60px;
    margin-top:5px;
    margin-bottom:5px;
    overflow: visible;
}

.size-50{
    height: 50px;
    width:50px;
    object-fit: cover;
}

.item-carrito{
    overflow: auto;

    -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
    padding: 5px;
}

.btn-agregar-producto{
    position: fixed;
    bottom: 5px;
    right: 5px;

    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 0px;

    font-size: 18px;
    line-height: 50px;
}

.height-50{
    height: 50px;
}

.v-center{
    margin-top:50%;
    margin-bottom: 50%;
}

.center{
    margin-left: 50%;
    margin-right: 50%;
}

ul.pagination li{
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.fa-shopping-cart{
    line-height: 24px;
}

