<div class="container">

  <div class="row">
    
    <!-- Display de productos -->
    <div class="col col-12 col-md-8 text-center right-border">

      <!-- Buscador de productos -->
      <input name="productoNombre"
                           id="productoInput"
                           (keyup)="buscarProducto(productoNombre)" 
                               [(ngModel)]="productoNombre" 
                               type="string" 
                               class="form-control m-b-10" 
                               placeholder="Ingresa el nombre del producto">
      <!-- FIN de Buscador de productos -->

      <!-- Selector de familia de productos -->
      <div class="m-b-20">
        <select class="select-familia form-control" 
                name="familiaActual"
                [(ngModel)]="familiaActual"
                (change)="obtenerProductosPorFamilia(familiaActual,1)">
          <option *ngFor="let familia of familias" 
                  [value]="familia.nombre">{{ familia.nombre }}</option>
        </select>
      </div>
      <!-- FIN Selector de familia de productos -->

      <div class="row">

        
<!-- Elemento Producto -->
<div *ngFor="let producto of productos" class="producto">

  <!-- Imagen producto -->
  <div class="image-container">

    <img [src]="producto.img | imagen: 'producto'" class="image size-100">

    <div class="overlay">
      <div class="text">

        <button class="btn btn-sm btn-success waves-effect waves-light m-b-10" (click)="agregarACarrito(producto)">
          <i class="fa fa-plus"></i>
          add</button>

        <button class="btn btn-sm btn-warning waves-effect waves-light" (click)="editarProducto(producto)">
          <i class="fa fa-edit"></i>
          edit</button>



      </div>
    </div>

  </div>
  <!-- FIN de Imagen producto -->


  <div class="product-name">
    {{ producto.codigo }}
  </div>

  <div class="product-price wrap">
    {{ producto.precio | currency: 'MXN'}}
  </div>

</div>


<!-- FIN de Elemento Producto -->

      </div>
      
      
      <!-- Componente de paginado   -->
        <div *ngIf="productos.length>0 && !busquedaActiva">
          <ul class="pagination justify-content-center">

            <li class="page-item pointer"
                (click)="paginaAnterior()">
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">«</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>

            <li *ngFor="let pagina of paginas" 
                class="page-item pointer"
                (click)="cargarProductosPagina(pagina.pagina)"
                [ngClass]="{'active': pagina.active }"><a class="page-link">{{ pagina.pagina }}</a></li>

            <li class="page-item pointer"
                (click)="paginaSiguiente()">
              <a class="page-link" aria-label="Next">
                <span aria-hidden="true">»</span>
                <span class="sr-only">Next</span>
              </a>
            </li>

          </ul>

        </div> 
      <!-- FIN de Componente de paginado   -->
      
    </div>
    <!-- FIN de Display de productos -->

    <!-- Carrito de compra -->
    <div class="col col-12 col-md-4">
      
      <div>
        Carrito
        <i class="fa fa-shopping-cart right"></i>
      </div>

      <ul class="m-b-15">
        <li *ngFor="let producto of carrito; let i=index"
            class="item-carrito">
          
          <img class="img-lista size-50 left" 
               [src]="producto.img | imagen: 'producto'">
          
          <div class="info-lista left">
            <p class="nombre-lista fw-500 pointer"
               (click)="cambiarNombre(i)">{{ producto.nombre }}</p>
            <p class="precio-lista pointer"
               (click)="cambiarPrecio(i)">{{ producto.precio | currency: 'MXN' }}</p>
            <p *ngIf="producto.descuento" 
               class="descuento-lista"> -{{ producto.descuento | currency: 'MXN' }}</p>
          </div>

          <div class="botonera-item-lista right">
            <span class="left m-r-5 pointer">
              <i class="descripcion-lista fa fa-info-circle"
                 [ngClass]="{'no-descripcion-lista': !producto.descripcion}"
                 (click)="abrirModalDescripcion(i)"></i>
            </span>
            <span class="left m-r-5 pointer"
                  (click)="agregarDescuento(i)">
              <i class="descuento-lista fa fa-usd"></i>
            </span>
            <span class="cantidad-lista left m-r-5 pointer"
                  (click)="asignarCantidadManualmente(i)">{{ producto.cantidad }}</span>
            <span (click)="eliminarElementoDelCarrito(i)">
              <i class="fa fa-trash trash-button right pointer"></i>
            </span>
          </div>

        </li>
      </ul>

      <div class="botonera"
           *ngIf="carrito.length>0">
        <button class="btn btn-warning waves-effect waves-light btn-block"
                (click)="agregarDescuentoTotal()">Descuento Total</button>

        <button class="btn btn-success waves-effect waves-light btn-block"
                data-toggle="modal"
                data-target="#ticketVenta">Vender</button>
        <!-- <button class="btn btn-secondary waves-effect-waves-light btn-block">Cotización</button> -->
      </div>

      

    </div>
    <!-- FIN de Carrito de compra -->

  
  </div>
</div>

<button 
  class="btn btn-success waves-effect waves-light btn-agregar-producto"
  data-toggle="modal" 
  data-target="#nuevoProducto">
    <i class="fa fa-plus"></i>
</button>

<app-agregar-producto></app-agregar-producto>
<app-editar-producto
  [producto]="productoAEditar"
  (actualizarFamilia)="obtenerProductosPorFamilia($event, paginaActual)"></app-editar-producto>
  
<app-ticket
  [carrito]="carrito"
  [totalCarrito]="totalCarrito"
  [totalDescuento]="totalDescuento"
  [iva]="ivaCarrito"
  (vaciarCarrito)="resetearCarrito()"></app-ticket>

  <app-nuevo-cliente
    (clienteNuevo)="registrarClienteNuevo($event)"
    (imagenCliente)="imagenNuevoCliente($event)"
    [toggleTicketModal]="true"></app-nuevo-cliente>

  <app-descripcion-producto
    (guardarDescripcion)="agregarDescripcion($event)"
    [descripcion]="descripcionProductoLista"></app-descripcion-producto>
