<h4 class="text-center">Proveedores</h4>

<div class="row">

    <div class="col col-md-3 lista-proveedores">
      <ul class="card">

        <!-- Buscador de proveedores -->
        
        <!-- Filtro de proveedores por nombre -->
          <!-- <label class="col-sm-3 control-label">Buscar Proveedor</label> -->
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-search"></i></div>
              <input name="proveedorNombre" id="clienteInput" autocomplete="off" (keyup)="filtrarProveedores()"
                [(ngModel)]="proveedorNombre" type="string" class="form-control" placeholder="Ingresa el nombre"
                required>
            </div>
        <!-- FIN de Filtro de proveedores por nombre -->


        <li *ngFor="let proveedor of proveedores"
          (click)="seleccionarProveedor(proveedor)">
          {{ proveedor.nombre }}
        </li>
      </ul>
    </div>

    <div class="col col-md-9">
      <div class="card">

        <h3>Información del proveedor:</h3>
        <div class="input-group">
          <div class="input-group-addon"><i class="ti-user"></i></div>
          <input type="text" class="form-control" name="nombreProveedor" [(ngModel)]="nombreProveedor">
        </div>

        <div class="input-group">
          <div class="input-group-addon"><i class="ti-mobile"></i></div>
          <input type="text" class="form-control" name="telefonoProveedor" [(ngModel)]="telefonoProveedor">
        </div>

        <div class="input-group">
          <div class="input-group-addon"><i class="ti-location-pin"></i></div>
          <input type="text" class="form-control" name="direccionProveedor" [(ngModel)]="direccionProveedor">
        </div>

        <div class="input-group">
          <div class="input-group-addon"><i class="ti-email"></i></div>
          <input type="email" class="form-control" name="emailProveedor" [(ngModel)]="emailProveedor">
        </div>

        <button class="btn btn-info waves-effect waves-light"
          (click)="actualizarProveedor()">Guardar Cambios</button>

      </div>
    </div>

</div>

<div class="row">
  <div class="col col-md-12">
    <div class="card text-center" *ngIf="proveedorSeleccionado">
      <h3 class="text-center">Compras a {{ proveedorSeleccionado.nombre }}</h3>

      <p>Total Compras: {{ totalDeComprasaProveedorSeleccionado | currency:'MXN' }}</p>
      <p>Total Gastos: {{ totalDeGastosProveedorSeleccionado | currency:'MXN' }}</p>

      <h4>Compras</h4>
      <div class="text-right">
        <div class="paginado btn-group right">
          <button class="btn btn-info" (click)="comprasPaginaAnterior()">
            <
          </button> 
          <button class="btn btn-info" (click)="comprasPaginaSiguiente()">
            >
          </button>
        </div>
      </div>
      
      <div class="table-responsive m-b-30">
        <table class="table">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Proveedor</th>
              <th>Monto</th>
              <th>Saldo pendiente</th>
              <th>Comprado por</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let compra of comprasProveedor">
              <td>{{ compra.fechaCompra | date }}</td>
              <td>{{ compra.proveedor.nombre }}</td>
              <td>{{ compra.costoTotal | currency:'MXN' }}</td>
              <td>{{ compra.saldoPendiente | currency:'MXN' }}</td>
              <td>{{ compra.usuarioCreador.nombre }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h4>Gastos</h4>
      <div class="text-right">
        <div class="paginado btn-group right">
          <button class="btn btn-info" (click)="gastosPaginaAnterior()">
            < 
          </button> 
          <button class="btn btn-info" (click)="gastosPaginaSiguiente()">
              >
          </button>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Proveedor</th>
              <th>Monto</th>
              <th>Descripción</th>
              <th>Comprado por</th>
            </tr>
          </thead>
      
          <tbody>
            <tr *ngFor="let gasto of gastosProveedor">
              <td>{{ gasto.fecha |date }}</td>
              <td>{{ gasto.proveedor.nombre }}</td>
              <td>{{ gasto.monto | currency:'MXN' }}</td>
              <td>{{ gasto.descripcion }}</td>
              <td>{{ gasto.usuarioCreador.nombre }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>