img.profile{
    width:100px;
    height:100px;
    border-radius:100%;
    object-fit: cover;
}

label{
    font-weight: bold;
}

button.disabled{
    cursor: not-allowed;
}

hr{
     border: 0; 
     height: 1px; 
     background: #278395; 
     background-image: linear-gradient(to right, #caebf1, #278395, #caebf1);
}

div.image-container .after{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    display: none;
    color: rgb(200, 200, 200);

    cursor: pointer;
}

.image-container img {display: block;}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
}

i.icon-center{

    font-size: 30px;
    margin-top:50%;
    margin-bottom: 50%;

    transform: translateY(-15px);

}