<div class="modal fade" id="modalRegistrarCobro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">

  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel1">Registrar Pago</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetearModal()"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <!-- Fin de Modal header -->

      <!-- Modal Body -->
      <div class="modal-body p-l-5 p-r-5 p-t-0 p-b-0">
        <div class="card-body">

          <form class="form-horizontal p-t-20">

            <div class="form-group row m-t-20">
              <label class="col-sm-3 control-label">Método de Pago*</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-exchange-vertical"></i></div>
                  <select class="form-control custom-select" data-placeholder="Selecciona un método de págo" name="tipoPago"
                    [(ngModel)]="tipoPago" required>
                    <option value="efectivo">Efectivo</option>
                    <option value="tarjeta">Tarjeta</option>
                    <option value="transferencia">Transferencia</option>
                    <option value="cheque">Cheque</option>
                    <option value="otro">Otro</option>
                  </select>
                  <!-- <input (keyup)="validarFormulario()" name="correo" [(ngModel)]="correo" type="email" class="form-control" placeholder="Correo electrónico"> -->
                </div>
              </div>
            </div>

            <div class="form-group row">
                    <label class="col-sm-3 control-label">Monto*</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="ti-money"></i></div>
                        <input name="precio" 
                               [(ngModel)]="monto" 
                               type="number" 
                               class="form-control" 
                               placeholder="Monto"
                               required>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row m-t-20">
              <label class="col-sm-3 control-label">Fecha*</label>
              <div class="col-sm-9">
                <div class="input-group">
                   <div class="input-group-addon"><i class="ti-money"></i></div>
                    <input name="fechaString" 
                               [(ngModel)]="fechaString" 
                               type="date" 
                               class="form-control"
                               (change)="cambiarFecha()" 
                               required>
                 </div>
               </div>
            </div>

          </form>

        </div>
      </div>
      <!-- FIN de Modal Body -->

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button class="btn btn-warning waves-effect waves-light"
          (click)="registrarCobro()">Pagar</button>
      </div>
      <!-- FIN de Modal Footer -->

    </div>
  </div>
</div>