<div class="row">
  <div class="table-responsive" *ngIf="cotizaciones.length>0">
    <table class="table table-bordered table-striped text-center">

      <thead>
        <tr>
          <th># de Cotización</th>
          <th>Fecha</th>
          <th>Total</th>
          <th>Cargar</th>
          <!-- <th>Eliminar</th> -->
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let cotizacion of cotizaciones, let i=index;">
          <td>Cotización #{{ i + 1 }}</td>
          <td>{{ cotizacion.fecha | date }}</td>
          <td>{{ cotizacion.total | currency:'MXN' }}</td>
          <td class="pointer" (click)="mostrarDetalleCotizacion(i)">
            <i class="fa fa-file-text color-green"></i>
          </td>
          <!-- <td class="pointer" (click)="eliminarCotizacion(cotizacion)">
            <i class="fa fa-trash color-red"></i>
          </td> -->
        </tr>
      </tbody>

    </table>
  </div>

</div>
